.header {
    background-color: $Light-red-g;
    padding: 20px;
    border-radius: 0 0 0 100px;
    position: relative;
    background-image: url(/images/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: -700px;
    background-size: 200%;

    @include tablet {
        background-image: url(/images/bg-pattern-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 500%;
    }
    

    .container {
        width: 90%;
        margin-inline: auto;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 25px 0;
            width: 100%;

            @include desktop {
                position: relative;
            }

            .hamburger {
                display: none;
            }

            .logo {
                width: 20%;
            }

            .lists {
                display: flex;
                gap: 1rem;
                width: 80%;

                .hr {

                    @include desktop {
                        display: none;
                    }
                }

                .button {
                    
                    @include desktop {
                        position: absolute;
                        right: 0;
                        display: flex;

                        .login {
                            cursor: pointer;
                            display: block;
                            width: fit-content;
                            background-color: transparent;
                            color: $White;
                            border: none;
                            outline: none;
                            font-size: 1rem;
                            font-weight: bold; 
                            padding: 10px 22px;
                            border-radius: 50px;
                        }

                        .signup {
                            cursor: pointer;
                            display: block;
                            width: fit-content;
                            border: none;
                            outline: none;
                            font-size: 1rem;
                            font-weight: bold; 
                            padding: 10px 22px;
                            border-radius: 50px;
                            background-color: $White;
                            color: $Light-red;

                        }
                    }
                }

                li {
                    position: relative;

                    @include desktop {
                        .mobile {
                            display: none;
                        }
                    }
                    
                    &:hover > ul {
                        display: initial;
                    }

                    &:focus-within > ul {
                        display: initial;
                    }


                    a {
                        font-size: 1.2rem;
                        padding: 20px;
                        color: $White;
                    }

                    ul {
                        position: absolute;
                        left: 0;
                        top: 150%;
                        width: 178px;
                        background-color: #fff;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        padding-right: 60px;
                        display: none;
                        border-radius: 15px;

                        li {
                            width: 100%;

                            a {
                                display: block;
                                font-size: .9rem;
                                padding: 8px 10px;
                                color: $Very-dark-gray-blue;
                                font-weight: 400;
                                transition: all .2s ease-in-out;

                                &:hover {
                                    color: $Very-dark-black-blue;
                                }
                            }
                        }
                    }

                    
                }

                
            }
        }

        .content {
            padding: 150px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include tablet {
                text-align: center;
                padding: 100px 0 150px 0;
            }

            .main-title {
                margin-bottom: .4rem;

                h1 {
                    color: $White;
                    font-size: 3.2rem;
                    font-family: $ff-overpass;
                    font-weight: $fw-600-overpass; 

                    @include tablet {
                        font-size: 2.3rem;
                    }
                }
            }

            .description {
                margin-bottom: 2.5rem;

                p {
                    color: #efeff1;
                    font-size: 1.15rem;
                }
            }

            .main-btn {
                display: flex;
                gap: 1.2rem;

                @include tablet {
                    gap: .5rem;
                }

                .start {    
                    padding: 12px 15px;
                    background-color: #fff;
                    color: $Light-red;
                    font-size: .8rem;
                    font-family: $ff-ubunto;
                    font-weight: $fw-700-ubunto;
                    border-radius: 50px;
                    border: none;
                    transition: all .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: $Very-light-red;
                        color: $White;
                    }
                }
                
                .learn {
                    padding: 12px 15px;
                    background-color: transparent;
                    color: $White;
                    font-size: .8rem;
                    font-family: $ff-ubunto;
                    font-weight: $fw-700-ubunto;
                    border-radius: 50px;
                    border: 1px solid $White;
                    transition: all .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: $White;
                        color: $Very-light-red;
                    }

                }
            }
        }
    }
}


@include tablet {

    .header {
        padding-top: 20px;

        .container {

            .navbar {
                padding-top: 30px;
                

                .hamburger {
                    display: block;

                    .open-menu {
                        display: block;

                        &.active {
                            display: none;
                        }
                    }

                    .close-menu {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }

                .lists {
                    width: 90%;
                    margin-inline: auto;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background-color: $White;
                    // height: calc(90vh - 100%);
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    border-radius: 7px;
                    display: none;

                    &.active {
                        display: block;
                    }

                    .hr {
                        width: 100%;
                        height: 1px;
                        background-color: black;
                    }
                    

                    li {
                        width: 100%;

                        a {
                            display: block;
                            color: $Very-dark-black-blue;
                            font-size: 1.3rem;


                            .desktop {
                                display: none;
                            }
                        }
                        
                        ul {
                            position: relative;
                            width: 100%;
                            
                            li {
                                width: 80%;
                                margin-inline: auto;
                                background-color: #efeff1;
                                
                                a {
                                    display: block;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                    .button {
                        padding: 10px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 1rem;
                        width: 100%;

                        .login {
                            cursor: pointer;
                            display: block;
                            width: fit-content;
                            border: none;
                            outline: none;
                            background-color: transparent;
                            font-size: 1.1rem;
                            font-weight: bold; 
                            padding: 10px 22px;
                            border-radius: 50px;
                            
                            
                            &:hover {
                                background-color: $Light-red-g;
                            }
                        }

                        .signup {
                            cursor: pointer;
                            display: block;
                            width: fit-content;
                            border: none;
                            outline: none;
                            font-size: 1.1rem;
                            font-weight: bold; 
                            padding: 10px 22px;
                            border-radius: 50px;
                            background: rgb(255,143,112);
                            background: linear-gradient(60deg, rgba(255,143,112,1) 45%, rgba(255,61,84,1) 100%);

                        }
                    }
                }
            }
        }
    }
}